footer {
    grid-area: footer;

    background: #111;
    color: rgb(240, 240, 240);
}

footer > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer > .container > .back-to-top {
    justify-self: end;
    align-self: center;
}

footer > .container > .back-to-top:hover {
    filter: brightness(75%);
}

footer > .container > .back-to-top > a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}